body {
  background-color: #8FC1E3;
  font-family: 'Slabo 13px', sans-serif;
  font-size: 16px;
  margin: 0;
}

header {
  background-color: #8FC1E3;
  color: #F7F9FB;
  padding: 25px;
  text-align: center;
}

main {
  min-height: 700px;
}

form { 
  font-size: 0;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

#search {
  width: 300px;
}

footer {
  background-color: #FFFBFA;
  color: #d9d9d9;
  height: 55px;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
}

i {
  margin-right: 8px;
}

button {
  height: 45px;
  width: 175px;
  background-color: #ffffff;
  border: none;
  color: #000000;
  margin: 35px 45px 0 0;
}

.small-btn {
  margin: 0;
}

#search-add-bar dl {
  display: inline-block;
}

#home-container {
  width: 800px;
  font-size: 0;
  margin: 0 auto;
}

#contacts-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#contacts-container::after {
  content: "";
  flex: 0 0 33%;
}

#options label {
  margin-left: 8px;
}

fieldset {
  border: none;
  display: inline-block;
  font-size: 12px;
  margin: 3px 5px 3px 10px;
}

label {
  margin-bottom: 10px;
}

#add-container, #edit-container, #search-add-bar {
  margin: 10px auto 8px auto;
  text-align: center;
  width: 800px;
}

#add-container, #edit-container {
  background-color: #F7F9FB;
  border-radius: 5px;
}

h1 {
  font-family: 'Slabo 13px', sans-serif;
  font-size: 58px;
  font-weight: 400;
  margin: 0;
}

h2 {
  border-bottom: solid 1px #d9d9d9;
  font-size: 40px;
  font-weight: 300;
  margin: 20px 0;
  padding: 15px 25px;
  text-align: left;
  width: 75%;
}

h3 {
  font-family: 'Reenie Beanie', cursive;
  font-weight: 300;
  font-size: 30px;
}

h4 {
  font-size: 30px;
  margin: 20px 0;
}

h5 {
  display: inline-block;
  font-size: 14px;
  font-weight: 200;
  margin: 0;
}

dt, dd {
  display: inline-block;
  font-weight: 200;
  width: 50%;
}

dt {
  box-sizing: border-box;
  font-size: 18px;
  padding-right: 45px;
  text-align: right;
}

dt::after {
  content: ":";
}

dd {
  font-size: 18px;
  margin: 0;
  text-align: left;
}

select {
  width: 100px;
}

.contact-box dl {
  text-align: left;
}

.contact-box dt {
  display: block;
  font-size: 14px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

.contact-box dd {
  display: block;
  font-size: 16px;
  font-weight: 200;
  margin: 4px 0 10px 10px;
  text-align: left;
}

.contact-box label {
  display: block;
}

input[type="text"] {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  height: 28px;
  margin-bottom: 20px;
  padding: 0 5px;
  width: 200px;
}

.small-btn {
  border-radius: 5px;
  margin: 0 0 0 15px;
  padding: 5px;
  height: 30px;
  width: 90px;
}

.contact-box {
  background-color: #F7F9FB;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  color: #000000;
  height: 250px;
  margin-bottom: 8px;
  padding: 10px;
  position: relative;
  vertical-align: top;
  width: 33%;
}

.tags-container {
  display: inline-block;
  position: absolute;
  text-align: right;
  top: 28px;
  right: 10px;
  width: 100%;
}

header .tag {
  font-size: 18px;
  height: 20px;
  width: 40px;
}

.contact-buttons {
  position: absolute;
  bottom: 25px;
}

.tag {
  border: 1px solid #ffffff;
  border-radius: 3px;
  font-size: 10px;
  margin-left: 5px;
  padding: 3px;
}

.contact-box .tag {
  color: #000000;
  border-color: #000000;
}

#new-tag-form {
  position: relative;
}

#new-tag-form .message {
  position: absolute;
  bottom: 0px
}

#add-btn, button[type="submit"] {
  background-color: rgba(0, 255, 132, .8);
  color: white;
  font-size: 16px;
  font-weight: 200;
}

#add-btn:hover, button[type="submit"]:hover {
  background-color: rgba(0, 255, 132, .5);
}

.edit-btn:hover {
  background-color: rgb(251, 255, 0);
  border: none;
}

.delete-btn:hover {
  background-color: rgb(255, 61, 123);
  border: none;
}

.cancel-btn {
  background-color: rgb(255, 61, 123);
}

.cancel-btn:hover {
  background-color: rgb(255, 61, 123, .5);
}

#new-tag-btn:hover, #options-btn:hover {
  background-color: rgba(0, 0, 0, .3);
}

.clicked {
  background-color: rgba(0, 0, 0, .3);
}

.message {
  color: red;
  display: inline-block;
  font-size: 12px;
}

.hidden {
  display: none;
}

.invalid {
  color: red;
}

.highlight {
  border: 1px dotted yellow;
  color: yellow;
}

.cursive {
  font-family: 'Reenie Beanie', cursive;
  font-size: 28px;
  margin: 0 10px;
}

header .tag:hover {
  border: 1px dotted #0D1893;
  color: #0D1893;
  cursor: pointer;
}

#all-tags {
  display: inline-block;
}